---
apiVersion: v1
kind: Namespace
metadata:
  name: ${NAMESPACE}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  namespace: ${NAMESPACE}
spec:
  replicas: ${REPLICAS}
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      automountServiceAccountToken: false
      containers:
      - name: website
        image: crownlabs/website:${IMAGE_TAG}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 25m
            memory: 25Mi
---
apiVersion: v1
kind: Service
metadata:
  name: website
  namespace: ${NAMESPACE}
  labels:
    app: website
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: website
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
  name: website
  namespace: ${NAMESPACE}
spec:
  rules:
  - host: ${HOST_NAME}
    http:
      paths:
      - backend:
          service:
            name: website
            port:
              name: http
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - ${HOST_NAME}
    secretName: website-cert
